<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

        <title>{{.Title}}</title>

        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="clippy.css" media="all">
    </head>
    <body>
        <section id="page-title">
            <h1><a href="/">{{ .Site.Params.sitename | default "Elephants"}}</a></h1>
        </section>
